@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;500;600&display=swap");

:root{
    --yellow : #EACF4F;
    --white: #FFF;
    --black: #000;
    --light-color: #AAA;
    --border: .2rem solid rgba(255,255,255,.3);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 8rem;
    overflow-x: hidden;
}

html::-webkit-scrollbar{
    width: 1rem;
}

html::-webkit-scrollbar-track{
    background: var(--black);
}

html::-webkit-scrollbar-thumb{
    background: var(--yellow);
    border-radius: 5rem;
}

body{
    background: url(images/background.jpg);
    background-attachment: fixed;
    background-position: center;
    overflow-x: hidden;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: var(--black);
    padding: 3rem 9%;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.header .icons{
    font-size: 2.5rem;
    cursor: pointer;
    color: var(--white);
}

.header .icons:hover{
    color: var(--yellow);
}

.header #menu-btn{
    display: none;
}

.navbar a{
    color: var(--white);
    font-size: 2rem;
    margin: 0 2rem;
}

.navbar a:hover{
    text-decoration: underline;
    text-underline-offset: 1rem;
    color: var(--yellow);
}

.space{
    display: inline-block;
    width: 16rem;
}

.logo{
    position: absolute;
    top: 3rem;
    left: 48.5%;
    transform: translateX(-50%);
}

.header img{
    width: 15rem;
}

.search-form{
    height: 7rem;
    padding: 0 2rem;
    border-top: var(--border);
    display: flex;
    align-items: center;
    background: var(--black);
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}

.search-form.active{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.search-form input{
    width: 100%;
    background: none;
    text-transform: none;
    font-size: 1.6rem;
    color: var(--white);
}

.search-form label{
    font-size: 2.5rem;
    color: var(--white);
    cursor: pointer;
}

.search-form label:hover{
    color: var(--yellow);
}

.fa-times{
    transform: rotate(180deg);
}

section{
    padding: 3rem 9%;
}

.home{
    margin-top: 7rem;
    background: url(images/home-bg.png) no-repeat;
    background-size: cover;
    background-position: center;
}

.home .content{
    max-width: 70rem;
    text-align: center;
    margin: 0 auto;
}

.home .content img{
    width: 100%;
}

.home .content h3{
    font-size: 4rem;
    text-transform: uppercase;
    color: var(--white);
}

.home .content p{
    font-size: 1.7rem;
    line-height:2;
    color: var(--light-color);
    padding: 2rem 0;
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    cursor: pointer;
    color: var(--white);
    border: var(--border);
    background: no-repeat;
    font-size: 1.7rem;
    padding: 1rem 3rem;
}

.btn:hover{
    color: var(--black);
    background: var(--white);
}

.service{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(31rem,1fr));
    gap:2rem;
}

.service .box{
    text-align: center;
    padding: 2rem;
}

.service .box i{
    height: 7rem;
    width: 7rem;
    line-height: 7rem;
    font-size: 2.5rem;
    color: var(--black);
    background: var(--yellow);
    margin-bottom: 1rem;
    border-radius: 50%;
}

.service .box h3{
    padding: 1rem 0;
    font-size: 2rem;
    text-transform: uppercase;
    color: var(--white);
}

.service .box p{
    font-size: 1.5;
    line-height:2;
    color: var(--light-color);
}

.heading{
    text-align: center;
    margin-bottom: 3rem;
}

.heading h3{
    font-size: 3rem;
    text-transform: uppercase;
    color: var(--white);
    margin-top: 1rem;
}

.box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(31rem,1fr));
    gap:2rem;
}

.box-container .box{
    text-align: center;
}

.box-container .box img{
    height: 25rem;
}

.box-container .box img:hover{
    transform: translateY(1rem);
}

.box-container .box .content{
    padding: 1rem 0; 
}

.box-container .box .content .stars{
    margin-bottom: 2rem;
}

.box-container .box .content .stars i{
    font-size: 1.7rem;
    color: var(--yellow);
}

.box-container .box .content h3{
    font-size: 2rem;
    text-transform: uppercase;
    color: var(--white);
}

.box-container .box .content .price{
    font-size: 2rem;
    line-height:2;
    color: var(--light-color);
}

.about{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem;
}

.image{
    flex: 1 1 40rem;
}

.image img{
    width: 100%;
}

.about .content{
    flex: 1 1 40rem;
}

.about .content .title{
    font-size: 2.5rem;
    text-transform: uppercase;
    color: var(--white);
}

.about .content p{
    font-size: 1.5rem;
    line-height:2;
    color: var(--light-color);
    padding: 2rem 0;
}

.about .content .icons{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-bottom: 2rem;
    margin-top: 1rem;
}

.about .content .icons h3{
    flex-wrap: 1 1 16rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: var(--white);
}

.about .content .icons h3 i{
    padding-right: .5rem;
    color: var(--yellow);
}

.reviews .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(31rem,1fr));
    gap:2rem;
}

.reviews .box-container .box{
    text-align: center;
    padding: 2rem;
}

.reviews .box-container .box img{
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    margin-bottom: 1rem;
}

.reviews .box-container .box h3{
    font-size: 2rem;
    text-transform: uppercase;
    color: var(--white);
}

.reviews .box-container .box p{
    font-size: 1.4rem;
    line-height:2;
    color: var(--light-color);
    padding: 1rem 0;
}

.reviews .box-container .box .stars{
    padding-top: .5rem;
}

.reviews .box-container .box .stars i{
    font-size: 1.7rem;
    color: var(--yellow);
}

.contact .row{
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
}

.contact .row .map, .contact .row .form{
    flex: 1 1 40rem;
}

.contact .row .form .icons-container{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.contact .row .form .icons-container .icons{
    flex: 1 1 17rem;
    text-align: center;
}

.contact .row .form .icons-container .icons i{
    height: 6rem;
    width: 6rem;
    line-height: 6rem;
    border-radius: 50%;
    background: var(--yellow);
    color: var(--black);
    font-size: 2rem;
    margin-bottom: 1rem;
}

.contact .row .form .icons-container .icons h3{
    padding: 1rem 0;
    font-size: 2rem;
    text-transform: uppercase;
    color: var(--white);
}

.contact .row .form .icons-container .icons p{
    font-size: 1.5rem;
    line-height:2;
    color: var(--light-color);
}

.contact .row .form form{
    text-align: center;
}

.contact .row .form form .box{
    padding: 1.2rem 1.4rem;
    font-size: 1.6rem;
    color: var(--white);
    background: none;
    border: var(--border);
    text-transform: none;
    width: 100%;
    margin: .7rem 0;
}

.contact .row .form form .box:focus{
    border-color: var(--yellow);
}

.contact .row .form form textarea{
    height: 15rem;
    resize: none;
}







/*Media Queries*/
@media screen and (max-width: 1200px){
    .header{
        padding: 3rem;
    }

    section{
        padding: 3rem 2rem;
    }
}

@media screen and (max-width: 991px){
    html{
        font-size: 55%;
    }

    .header #menu-btn{
        display: inline-block;
    }

    .header{
        justify-content: flex-end;
        gap: 2rem;
    }

    .logo{
        transform: translateX(0);
        left: 3rem;
    }

    .navbar{
        position: absolute;
        top: 99%;
        left: 0;
        right: 0;
        background: var(--black);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    .navbar a{
        display: block;
        margin: 3rem 2rem;
    }

    .navbar .space{
        display: none;
    }

    .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}

@media screen and (max-width: 768px){
    .content h3{
        font-size: 2.5rem;
    }
}

@media screen and (max-width: 450px){
    .header{
        padding: 3rem;
    }
}
